In [6]:
# !pip install -U -q pandas pyarrow scikit-learn

In [1]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%0.4f' % x)

import pyarrow
import datetime
from tqdm.auto import tqdm
tqdm.pandas()

In [2]:
df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet')

In [3]:
print(df_jan.shape, df_feb.shape)
df_jan.head(3)

(2964624, 19) (3007526, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0000,1.7200,1.0000,N,186,79,2,17.7000,1.0000,0.5000,0.0000,0.0000,1.0000,22.7000,2.5000,0.0000
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0000,1.8000,1.0000,N,140,236,1,10.0000,3.5000,0.5000,3.7500,0.0000,1.0000,18.7500,2.5000,0.0000
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0000,4.7000,1.0000,N,236,79,1,23.3000,3.5000,0.5000,3.0000,0.0000,1.0000,31.3000,2.5000,0.0000

19 columns are there

In [4]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [5]:
(df_jan.tpep_dropoff_datetime[0] - df_jan.tpep_pickup_datetime[0]).seconds/60

19.8

In [6]:
df_jan['duration'] = df_jan.progress_apply(lambda row: (row.tpep_dropoff_datetime - row.tpep_pickup_datetime).seconds/60, axis = 1)

  0%|          | 0/2964624 [00:00<?, ?it/s]

In [24]:
df_feb['duration'] = df_feb.progress_apply(lambda row: (row.tpep_dropoff_datetime - row.tpep_pickup_datetime).seconds/60, axis = 1)

  0%|          | 0/3007526 [00:00<?, ?it/s]

In [7]:
df_jan['duration'].std(axis = 0)

34.602619835326216

In [8]:
num_with_outliers = df_jan.shape[0]
print(num_with_outliers)

df_jan.drop(index = df_jan[(df_jan['duration']>60) | (df_jan['duration']<1)].index, inplace = True)

num_without_outliers = df_jan.shape[0]
print(num_without_outliers)
print('fraction of the records left after you dropped the outliers is', num_without_outliers/num_with_outliers)

2964624
2898907
fraction of the records left after you dropped the outliers is 0.977832939354198

In [9]:
df_jan.PULocationID = df_jan.PULocationID.astype(str)
df_jan.DOLocationID = df_jan.DOLocationID.astype(str)
df_feb.PULocationID = df_feb.PULocationID.astype(str)
df_feb.DOLocationID = df_feb.DOLocationID.astype(str)

In [35]:
df = pd.concat([df_jan, df_feb], ignore_index=True)
df = pd.get_dummies(df[['PULocationID', 'DOLocationID', 'duration']])
df.shape

(5906433, 522)

In [36]:
# LinearRegression cannot fit all rows due to MemoryError. So lets take a sample
sampled_df = df.iloc[:2964624].sample(frac=0.1, random_state=42)

In [37]:
y = sampled_df.duration
X = sampled_df.drop(['duration'], axis = 1)

In [38]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)

In [39]:
y_train_pred = reg.predict(X)

In [40]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y, y_train_pred)
print(f'RMSE: {mse**.5}')

RMSE: 8.01201847913152

Predict

In [50]:
sampled_df_test = df.iloc[2964624:].sample(frac=0.1, random_state=42)

In [51]:
y_test = sampled_df_test['duration']
X_test = sampled_df_test.drop(['duration'], axis = 1)

In [52]:
X_test.shape, y_test.shape

((294181, 521), (294181,))

In [53]:
y_pred =  reg.predict(X_test)

In [54]:
mse = mean_squared_error(y_test, y_pred)
print(f'RMSE: {mse**.5}')

RMSE: 108522946497.87633

RMSE: 108522946497.87633